hnlLastStopCellInfo = '(
                           ( "NCSU_Analog_Parts" "nmos4" "hspiceS" "747426816" "1139589189" )
                          ( "NCSU_Analog_Parts" "pmos4" "hspiceS" "747426726" "1139589188" )
                       )
hnlLastMaxNameLength = 16
hnlLastNamePrefix = "hnl_"
hnlLastNetNamePrefix = ""
hnlLastInstNamePrefix = ""
hnlLastModelNamePrefix = ""
hnlLastGlobalNetPrefix = "G"
hnlLastModulePrefix = "sub"
hnlLastHierarchyDelimiter = "^"
hnlLastMapNetFirstChar = '(
                            "!"
                             "\""
                            "#"
                            "$"
                            "%"
                            "&"
                            "'"
                            "("
                            ")"
                            "*"
                            "+"
                            ","
                            "-"
                            "."
                            "/"
                            "0"
                            "1"
                            "2"
                            "3"
                            "4"
                            "5"
                            "6"
                            "7"
                            "8"
                            "9"
                            ":"
                            ";"
                            "<"
                            "="
                            ">"
                            "?"
                            "["
                             "\\"
                            "]"
                            "^"
                            "`"
                            "{"
                            "|"
                            "}"
                            "~"
                          )
hnlLastMapNetInName = '(
                             "\""
                            "#"
                            "$"
                            "%"
                            "&"
                            "'"
                            "("
                            ")"
                            "*"
                            "+"
                            ","
                            "-"
                            "."
                            "/"
                            ":"
                            ";"
                            ( "<" "_" )
                            "="
                           ( ">" )
                            "?"
                            "["
                             "\\"
                            "]"
                            "^"
                            "`"
                            "{"
                            "|"
                            "}"
                            "~"
                          )
hnlLastMapInstFirstChar = '(
                            "!"
                             "\""
                            "#"
                            "$"
                            "%"
                            "&"
                            "'"
                            "("
                            ")"
                            "*"
                            "+"
                            ","
                            "-"
                            "."
                            "/"
                            "0"
                            "1"
                            "2"
                            "3"
                            "4"
                            "5"
                            "6"
                            "7"
                            "8"
                            "9"
                            ":"
                            ";"
                            "<"
                            "="
                            ">"
                            "?"
                            "["
                             "\\"
                            "]"
                            "^"
                            "`"
                            "{"
                            "|"
                            "}"
                            "~"
                          )
hnlLastMapInstInName = '(
                            "!"
                             "\""
                            "#"
                            "$"
                            "%"
                            "&"
                            "'"
                            "("
                            ")"
                            "*"
                            "+"
                            ","
                            "-"
                            "."
                            "/"
                            ":"
                            ";"
                            ( "<" "_" )
                            "="
                           ( ">" )
                            "?"
                            "["
                             "\\"
                            "]"
                            "^"
                            "`"
                            "{"
                            "|"
                            "}"
                            "~"
                          )
hnlLastInvalidNetNames = '(
                     ( "gnd!" "0" )
                   )
hnlLastInstNameDifferentFrom = '( )
hnlLastModelNameDifferentFrom = '( )
hnlLastNetNameDifferentFrom = '( )
hnlLastTermNameDifferentFrom = '( )
hnlLastParamNameDifferentFrom = '( )
hnlLastLibInfo = '(
                    ( "Wallace_MUL_Library" "1414438546" )
                  )
hnlLastDesignVars = '( )
